
body {
 font-family: Arial, sans-serif;
  background-color:beige;
  color:black;
 margin: 30;
 padding: 20;
}
img  {
  float: right;
}
        
header {
 background-color:darkturquoise;#333;
 color: white; #fff;
 text-align: center;
 padding: 20px ;
}
footer {
  background-color:darkturquoise;#333;
 color: white; #fff;
 text-align: center;
 padding: 0.5px ;
}
figure {
  text-align: center; /* Centrer l'image et la légende */
  margin: 20px; /* Ajouter un espacement autour du bloc */
}

figcaption {
  font-style: italic; /* Style de la légende */
  color: #555; /* Couleur de la légende */
  margin-top: 8px; /* Espacement entre l'image et la légende */
}

      
table {
  background-color: beige;
 display:grid; 
  border-collapse: collapse;
  justify-content: center;  /* Centre horizontalement */
  align-items: center;
  margin-top: 20px;
 text-align: center;
  front-size: 10px;

}
th,td {
  border: 3px solid black;
  padding: 8px;
}
 a {
  font-style:italic;
  background-color: beige;#007BFF;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}
a.special-link {
  display: inline-block;
  font-style:normal;
  margin-top: 20px;
  padding: 15px;
  background-color:darkturquoise;#007BFF;
  color: beige;
  text-decoration: underline; 
  border-radius: 60px;
}
 
